h3{
    color: black;
}

.container{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.timer{
    font-size: 3rem;
}

.inputContainer{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.timerInput{
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    border: none;
    outline: none;
}

.dropDown{
    width: 50%;
    padding: 0.5rem;
    height: 4vh;
    border-radius: 5px;
    border: none;
    outline: none;
}

.startTimer{
    width: 10%;
}

.resetTimer{
    width: 10%;
}